.wrapper {
  max-width: 2000px;
  background-color: black;
  font-family: Century gothic;
  background-image: url("http://st.gde-fon.com/wallpapers_original/458592_boec_smeshannye-boevye-iskusstva_graf_majkl_1680x1050_www.Gde-Fon.com.jpg");
  background-repeat: no-repeat;
  background-position: 600% 0%;
}

header {
  padding: 15px 0 15px;
  clear: both;
  background-color: black;
  color: white;
  text-shadow: 3px 3px #8A0808;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: white;
}

footer {
  clear: both;
  background-color: black;
  color: white;
  text-align: center;
}

.page {
  background-color: #BDBDBD;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 7em
  width: 70%;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  padding-top: 2em;
  min-height: 400px;
  clear: both;
  overflow: auto;
  position: relative;
}

aside {
  width: auto;
  height: auto;
  background-color: #8A0808;
  color: black;
  text-align: center;
  list-style-type: none;
  margin: auto;
  margin-left: 16em;
  padding: 0;
  padding-right: 2.8em;
  overflow: hidden;
  position: absolute;
  top: 7em;
}

nav ul {
  list-style-type: none;
  margin: 3;
  padding: 0;
}

nav li {
  display: inline;
  padding: 3em;
}

nav .active {
  font-weight: bold;
  background-color: black;
}
