.wrapper {
  max-width: 2000px;
  background-color: black;
  font-family: Century gothic;
  background-image: url("https://wallpaperplay.com/walls/full/4/3/1/92056.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  padding: 15px 0 15px;
  clear: both;
  background-color: black;
  color: white;
  text-shadow: 3px 3px #8A0808;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: white;
}

footer {
  clear: both;
  background-color: black;
  color: white;
  text-align: center;
}

.page {
  background-color: #BDBDBD;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 7em
  width: 70%;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  padding-top: 2em;
  min-height: 600px;
  clear: both;
  overflow: auto;
  position: relative;
}

aside {
  width: 99%;
  height: auto;
  background-color: #8A0808;
  color: black;
  text-align: center;
  list-style-type: none;
  float: left;
  overflow: hidden;
  clear: both;
  position: absolute;
  top: 7em;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 3;
  padding: 0;
}

nav li {
  display: inline;
  padding: 3em;
}

nav .active {
  font-weight: bold;
  background-color: black;
}
