.wrapper {
  max-width: 2000px;
  background-color: #BDBDBD;
  font-family: Century gothic;
  background-image: url("https://marketplace.canva.com/MADGx8_0l5o/4/screen/canva-grayscale-photography-of-man-holding-boxer%27s-hand-inside-battle-ring-MADGx8_0l5o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% 40%;
}


header {
  padding: 10px 0 10px;
  clear: both;
  background-color: black;
  color: white;
  text-shadow: 3px 3px #8A0808;
  text-align: center;
  text-transform: uppercase;
  /*background-image: url("https://cdn.pixabay.com/photo/2018/04/11/18/27/gloves-3311299_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 70%;*/

}

a {
  color: white;
}

footer {
  clear: both;
  background-color: black;
  color: white;
  text-align: center;
}

.page {
  background-color: #BDBDBD;
  max-width: 1000px;
  float: left;
  margin-left: 13em;
  margin-bottom: 1em;
  width: 70%;
  text-align: justify;
  padding-left: 1em;
  min-height: 400px;
  clear: both;
}

aside {
  float: left;
  width: 13em;
  height: auto;
  background-color: #8A0808;
  position: absolute;
  color: black;
  text-align: center;*/
}

nav ul {
  list-style-type: none;
  padding: 3em;
  margin: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
